*.dll
*.exe
*.bin
*.obj
*.deps.json
*.runtimeconfig.json
*.pdb
*.user
*.userosscache
*.vspscc
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sw?
*.log
*.txt
**/bin/
**/obj/
**/bin
**/obj
**/*.user
**/*.userosscache
**/*.vspscc
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln.docstates
**/*.sw?
**/*.log
**/*.txt
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln.docstates
**/*.sw?
**/*.zip
*/BankingApp.Business/obj/*
*/BankingApp.Business/bin/*
*/BankingApp.Desktop/obj/*
*/BankingApp.Desktop/bin/*
*/BankingApp.Web/obj/*
*/BankingApp.Web/bin/*